body{
    text-align: center;
    background-color: #fff;
}

hr{
    color: black;
    size: 10px;
}

#bt-cottonsarees{
     
}

  .img-circle{
      border-radius: 200px;
  }

  .btn-circle{
    border-radius: 200px;
    border-color: black;
}
  
    